script(src='javascript/jquery/jquery-3.4.1.min.js')
script(src='javascript/jquery/jquery-ui.min.js')

script(src='javascript/left.js')

link(rel='stylesheet', href='css/jquery/jquery-ui.css')
link(rel='stylesheet', href='css/jquery/jquery-ui.structure.css')
link(rel='stylesheet', href='css/jquery/jquery-ui.theme.css')

link(rel='stylesheet', href='css/style.css')
